@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-yellow: #f8ec9030;
  --color-yellow-solid: #2e2c1d;
  --color-yellow-light: #f8ec90;

  --color-blue: #2cacff30;
  --color-blue-solid: #0f3c5a;
  --color-blue-light: #2cacff;

  --color-primary: var(--color-yellow);
  --color-primary-solid: var(--color-yellow-solid);
  --color-primary-light: var(--color-yellow-light);

  --color-font-white: #fffbeb;
  --color-font-grey: #495579;
  --color-font-black: #1a1a1a;

  --color-background-black: #1a1a1a;
}

body, html, #root {
  height: 100%;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  color: var(--color-font-white);
  background: var(--color-background-black);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#main {
  flex-grow: 1;
}

footer.my-foot {
  padding: 0.5rem;
}

img {
  object-fit: cover;
}

.hidden {
  display: none !important;
}

.loading {
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
