.profile {
    background-color: white;
    width:auto;
    height: 400px;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile-data {
    background-color: #D9D9D9;
    width: 90%;
    display: flex;
    border-radius: 40px;
    padding: 20px;
    margin: 10px;
    justify-content: space-between;
}

.profile-data div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 16px;
}

.profile-title {
    margin-bottom: 0;
    color:#D0A50B;
    font-weight: 600;
}

.profile-img {
    border-radius: 900px;
    border: 2px solid #D0A50B;
}

.profile-statistcs {
    width: 80%;
    position: relative;
    flex-direction: row !important;
    justify-content: space-between !important;
    gap: 20px !important;
    margin: 20px !important;
}

.profile-number {
    color:#D0A50B;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
}

.profile-text{
    margin-bottom: 0;
    font-size: 20px;
}

.profile-infos {
    display: flex;
    gap: 22px;
    font-size: 18px;
    justify-content: flex-start;
}

label{
    font-size: 18px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    color: #D0A50B;
    border-bottom: 2px solid #D0A50B;
}