.friends-list-btn {
  background-color: transparent;
  color: black;
  border: none !important;
}

.friends-list-btn:hover {
  font-weight: bold !important;
  border-bottom: 2px solid black !important;
  border-radius: 0px;
  background-color: transparent !important;
  color: black !important;
}
