/* Estilo padrão */
.navbar {
  display: flex;
  background-color: black;
  color: white;
  place-items: center;
  justify-content: space-between;
}

.btn-outline-warning {
  border: none !important;
  color: #F3C00C;
}

.btn-outline-warning:hover {
  border: none;
  color: #F3C00C;
  background: none !important;
  border-radius: 0px !important;
  border-bottom: 2px solid #F3C00C !important;
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
  }

  .navbar-menu.show {
    display: flex;
  }

  .navbar-toggler {
    display: inline-block;
    border: none;
    background: none;
    font-size: 24px;
    color: #F3C00C;
    cursor: pointer;
  }

  .navbar-menu button {
    width: 100%;
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #F3C00C;
  }
}

@media (min-width: 769px) {
  .navbar-toggler {
    display: none;
  }

  .navbar-menu {
    display: flex !important;
  }
}
