tournament-player-card {
  background-color: var(--color-primary);
}

tournament-player-card div,
tournament-player-card h3 {
  background-color: rgb(241, 241, 241);
  color: var(--color-font-black);
  border: 1px solid black;
  border-radius: 15px;
}

tournament-player-card div img {
  width: 60px;
  height: 60px;
}

tournament-player-card div {
  width: 200px;
  padding: 10px;
  display: flex;
  gap: 15px;
  align-items: center;

}

tournament-player-card div h6 {
  background-color: var(--color-primary);
  color: var(--color-font-black);
}
