.twofa-input input::-webkit-outer-spin-button,
.twofa-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.twofa-input input[type=number] {
    -moz-appearance:textfield;
}

