django>=3.2,<4.0
djangorestframework==3.14.0
psycopg2-binary>=2.9.9
oauthlib
requests==2.31.0
requests-oauthlib
django-oauth-toolkit==2.0.0
drf-yasg==1.21.4
django-allauth
djangorestframework-simplejwt
gunicorn
bcrypt
django-cors-headers
channels==3.0.5
channels_redis
daphne==3.0.2
Pillow==10.2.0
uvicorn==0.27.0
websockets==12.0
pytz
