<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Meu Site</h1>
        <p>Este é um exemplo simples de como usar arquivos estáticos em Django.</p>
        <a href="{% url 'login' %}" class="btn">Login com 42</a>
    </div>
</body>
</html>
