game-page {
  color: var(--color-font-white) !important;
}

game-page button.btn {
  background-color: var(--color-primary) !important;
  color: var(--color-primary) !important;
}

game-page button.btn:hover,
game-page button.btn:active {
  background-color: var(--color-primary) !important;
  color: var(--color-font-white) !important;
}

.container-fluid.logo-game-container {
  width: 20%;
}

#canvas-pong {
  width: 90%;
  height: 60vh;
  background-color: black;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 2rem;
}

.button {
  position:relative;
  display:inline-block;
  margin:20px;
}
  
a.btn-game {
  color:white;
  font-weight:bold;
  font-size:12px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:20px;
  
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  border-radius: 5px;

  box-shadow: 6px 6px 0 black;
  border: 2rem solid;

  border-bottom-color: #DDA155;
  border-right-color: #915100;
  border-style: solid;
  border-width: 0 10px 20px 0;
}
  
.button a:active {
  top:10px;
  background-color:#F78900;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}
  
.button:after {
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
