profile-page .player-data > .data-section:first-child {
  background-color: var(--color-primary);
}

profile-page .player-data > .data-section > img {
  width: 150px;
  height: 150px;
}

profile-page .friend-cards {
  grid-template-columns: repeat(auto-fit, 100px);
}

main.profile-container {
  background: white;
  border-radius: 5px;
  margin: 0px 20px;
  padding: -20px;
  width: auto;
  z-index: 2;
}

.friend-cards img {
  width: 50px;
  height: 50px;
}
